@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sparkle {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.5); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .animate-sparkle {
    animation: sparkle 1s infinite;
  }
  